{% extends "dev_center/common/base.html" %}
{% block content %}
        <h1>Devs database</h1>
        {% if devs %}
            <div class="tbl">
                <div style="font-weight:bold;" class="row">
                	<div class="col col-lg-3">
                        First name
                    </div>

                    <div class="col col-lg-3">
                        Last name
                    </div>

                    <div class="col col-lg-3">
                        Phone
                    </div>

                    <div class="col col-lg-3">
                        Location
                    </div>
                </div>
                {% for dev in devs %}
                    <div style="font-weight:bold;" class="row">
                        <div class="col col-lg-3">
                            <a href='dev_page/{{dev.first_name}}-{{dev.last_name}}'>
                                {{dev.first_name}}
                            </a>
                        </div>

                        <div class="col col-lg-3">
                            {{dev.last_name}}
                        </div>

                        <div class="col col-lg-3">
                            {{dev.phone}}
                        </div>

                        <div class="col col-lg-3">
                            {{dev.city}}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
                <div style="row">
                    <div class="col-lg-12">
                        No Devs are currently available
                    </div>
                </div>
        {% endif %}
{% endblock %}